body {
    margin: 0 auto;
    text-align: center;
    background: url(res/background.jpg);
    font-size: 2em;
}

#qr-canvas { display: none; }

.glass {
    max-width: 40%;
}

button{
  margin:auto;
  display:block;
}

/* BUTTON STYLES */
button{
  padding:16px 32px;
  font-family:helvetica;
  font-size:26px;
  font-weight:200;
  color:#fff;
  background: #587286;
  border:0;
}
button:hover{
  background: #3B5C76;
}
/* END OF BUTTON STYLES */

.overlap {
    margin-top: -230px;
}

.glassZoom {
    background: url(res/glasses.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}